<h3>Datos estadísticos de los accidente</h3>

<section class="analytics-content">
  <p-card class="pipe-gender">
    <h4>Pipe</h4>
    <app-pipe [labels]="pipe.labels" [values]="pipe.values"></app-pipe>
  </p-card>
  <p-card class="vertical-bar">
    <h4>Vertical Bar</h4>
    <app-vertical-bar></app-vertical-bar>
  </p-card>
  <p-card class="doughnut">
    <h4>Doughnut</h4>
    <app-doughnut></app-doughnut>
  </p-card>
  <p-card class="horizontal-bar">
    <h4>Horizontal Bar</h4>
    <app-horizontal-bar></app-horizontal-bar>
  </p-card>
  <p-card class="stacked-bar">
    <h4>Stacked Bar</h4>
    <app-stacked-bar></app-stacked-bar>
  </p-card>
  <p-card class="line">
    <h4>Line</h4>
    <app-line></app-line>
  </p-card>
  <p-card class="line-styles">
    <h4>Line Style</h4>
    <app-line-styles></app-line-styles>
  </p-card>
  <p-card class="multiaxis">
    <h4>Multiaxis</h4>
    <app-multiaxis></app-multiaxis>
  </p-card>
  <p-card class="radar">
    <h4>Radar</h4>
    <app-radar></app-radar>
  </p-card>
</section>

